/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Global style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  position: relative;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* color variables --------------------------------------------------------------- */
:root {
  --primary-color: #2294ed;
  --secondary-color: #183b56;
  --btn-hover: #0061ad;
  --text-secondary: #577592;
  --header-bgc: #4dadf7;
  --footer-bgc: #ebf2fa;
  --sub-footer-bgc: #b9cde4;
}

/* utility classes --------------------------------------------------------------- */

/* font styles */

.heading {
  color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.txt-small {
  font-size: 14px;
  color: var(--text-secondary);
}

.txt-medium {
  font-size: 18px;
  font-weight: 700;
  color: var(--secondary-color);
}

.txt-large {
  font-size: 20px;
  color: var(--text-secondary);
  line-height: 30px;
}

/* padding ----------------------*/
.padding-one {
  padding: 0 170px;
}

.padding-two {
  padding: 0 180px;
}

/* flex property -------------------*/

.flex {
  display: flex;
}

.flex-item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-item-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-align-items-center {
  display: flex;
  align-items: center;
}

/* button styles ------------------*/
.btn-primary {
  color: #ffffff;
  background-color: var(--primary-color);
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
}

.btn-primary:hover {
  background-color: var(--btn-hover);
}

.btn-cta {
  padding: 16px 32px;
}

.btn-secondary {
  color: var(--secondary-color);
  background-color: #ffffff;
  border: 1px solid var(--secondary-color);
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 12px 24px;
  border-radius: 4px;
}

.btn-secondary:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

/* ---------------------------------------------------------------------------- */

.line-height {
  line-height: 30px;
}

.cursor-pointer {
  cursor: pointer;
}

.hover:hover {
  color: var(--primary-color);
}

.gap-20 {
  gap: 20px;
}

.forward-arrow {
  color: var(--primary-color);
  font-size: 12px;
}

.txt-align-center {
  text-align: center;
}

/* banner --------------------------------------------------------------*/
.banner {
  height: 50px;
  background-color: var(--header-bgc);
  background-image: url(./assets/asset\ 32.png);
  background-size: 300px;
}

.banner p {
  color: #ffffff;
}

/* navbar --------------------------------------------------------------*/
nav {
  height: 40px;
  margin-top: 30px;
  color: var(--secondary-color);
}

.logo-container {
  gap: 5px;
}

.logo {
  width: 170px;
}

.nav-link {
  background-image: url(./assets/asset\ 33.svg);
}

.nav-txt {
  padding: 6px 16px;
}

.nav-ul {
  gap: 40px;
  list-style: none;
}

/* header -----------------------------------------------------------------------*/
header {
  margin-top: 35px;
  margin-bottom: 60px;
  gap: 80px;
}

.header-txt {
  margin-top: 16px;
  margin-bottom: 32px;
}

.header-img {
  width: 600px;
}

/* Company section -------------------------------------------------------------------*/
.company-txt {
  margin-bottom: 30px;
}

.company-logo {
  height: 46px;
}

.godaddy-logo {
  height: 30px;
}

/* feature section ---------------------------------------------------------------------*/
.feature {
  background-image: url(./assets/asset\ 34.svg);
  background-size: 800px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 160px 260px;
}

.feature-heading {
  margin-bottom: 10px;
}

.feature-container {
  margin-top: 40px;
  gap: 60px;
}

.feature-item {
  width: 400px;
}

.feature-img {
  height: 40px;
}

.feature-item-heading {
  margin: 10px 0;
}

.feature-txt {
  margin-bottom: 20px;
}

/* section description --------------------------------------------------------------------- */
.descriptions {
  padding: 0 240px;
  margin-top: -60px;
}

.description {
  gap: 80px;
  margin-bottom: 50px;
}

.description-img {
  width: 500px;
}

.description-heading {
  margin: 10px 0;
}

.description-logo {
  height: 30px;
  margin: 20px 0;
}

.quoat {
  background-image: url(./assets/asset\ 35.svg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin-top: -15px;
  margin-left: -30px;
  padding-top: 15px;
  padding-left: 30px;
}

.profile {
  gap: 10px;
  margin-top: 20px;
}

.profile-img {
  height: 50px;
}
